.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url("/assets/images/background8.jpeg");
  z-index: -2;
  content: "";
  position: fixed; 
  opacity: 0.8;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: whitesmoke;
}


h2, h3{
  font-family: ‘Lobster’, cursive;
  font-size: 50px;
  text-align: center;

}

.results {
   color: black;
}

.modal{
  color: black;
}

.modal-title{
  font-family: ‘Lobster’, cursive;

}

/* .readit{
  padding-left: 350px;
  padding-right: 350px;

} */

